body {
	background: url('images/background.jpg');
}

header {
	margin-top: 10%;
}

#banner {
	background: #300b0b;
	height: 100px;
	margin-bottom:10px;
}

#banner nav ul{
	list-style-type: none;
	display:flex;
}

#banner li {
	margin-right: 30px;
	display: flex;
	align-items:center;
	height:100px;
}

#banner a {
	color:#f0e1c0;
	font-size: 2.0em;
	font-family: 'matura MT Script Capitals', arial;
	text-decoration:none;
}

#language_selection {
	align-self:flex-end;
}

#arrow_language {
	width:20px;
	margin-right:5px;
}

#flag {
	width:40px;
}

#front {
	display: flex;
	justify-content:center;
}

#front_bg {
	background:rgba(240,227,182,0.9);
	width:85%;
	display:flex;
	justify-content:center;
}

#content {
	margin-top: 1%;
	display: flex;
	flex-direction:column;
	align-items: center;
}


#content h1 {
	background-image:url("images/parchemin.png");

}
