@font-face {
    font-family: 'Consolas';
    src: url("../../fonts/Consolas.ttf");
}

@font-face {
    font-family: 'caribbean';
    src: url("../../fonts/Caribbean.ttf");
}

html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    margin: 50px;
    height: 80%;
}

#content {
    display: flex;
    height: 100%;
    font-family: Consolas;
}

a {
    text-decoration: none;
    color: yellow;
}

.error {
    color: red;
}

h2 {
    font-family: caribbean;
}

/* ---- CORPS ---- */

aside {
    border: 2px solid white;
    margin: 50px 0px;
    padding: 0 20px 10px 20px;
}

#left_panel {
    width: 25%;
    display: flex;
    flex-direction: column;
}

#profile {
    flex: 1;
}

#chat {
    position: relative;
    flex: 2;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.message {
    display: block;
}

.fa-paper-plane {
    color: #0fbbbb;
    width: 40px;
    height: 40px;
}

form {
    position: absolute;
    bottom: 10px;
    width: 95%;
    display: flex;
    align-items: center;
}

#message {
    width: 100%;
}



/* ---- CLASSEMENT ---- */

#classement {
    width: 16%;
}

.ranks {
    font-size: 1.7em;
    font-family: Consolas;
}

#main_content {
    margin: 0 4%;
    width: 54%;
}

.ascii_art {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Courier New",Courier,mono;
    font-style: normal;
    line-height: 11px;
    font-weight: normal;
}