@font-face {
    font-family: 'Consolas';
    src: url("../../fonts/Consolas.ttf");
}

@font-face {
    font-family: 'Caribbean';
    src: url("../../fonts/Caribbean.ttf");
}


html {
    height: 100%;
}

body {
    background-color: black;
    font-family: Consolas   ;
    color: white;
    margin: 50px;
    height: 80%;
}

#hint_images {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
