body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

form {
    width: 30%;
    min-width: 500px;
    border: 2px solid white;
    padding: 20px;
}

input {
    margin-left: 20px;
}

.error {
    color: red;
}