@keyframes neon_green {
    from {
        text-shadow:
                0 0 6px rgba(202,228,225,0.92),
                0 0 30px rgba(30,232,142,0.34),
                0 0 12px rgba(30,232,142,0.52),
                0 0 21px rgba(30,232,142,0.92),
                0 0 34px rgba(30,232,142,0.78),
                0 0 54px rgba(30,232,142,0.92);
    }
    to {
        text-shadow:
                0 0 6px rgba(202,228,225,0.98),
                0 0 30px rgba(202,228,225,0.42),
                0 0 12px rgba(30,232,142,0.58),
                0 0 22px rgba(30,232,142,0.84),
                0 0 38px rgba(30,232,142,0.88),
                0 0 60px rgba(30,232,142,1);
    }
}

@keyframes neon_red {
    from {
        text-shadow:
                0 0 6px rgba(202,228,225,0.92),
                0 0 30px rgba(232, 30, 30,0.34),
                0 0 12px rgba(232, 30, 30,0.52),
                0 0 21px rgba(232, 30, 30,0.92),
                0 0 34px rgba(232, 30, 30,0.78),
                0 0 54px rgba(232, 30, 30,0.92);
    }
    to {
        text-shadow:
                0 0 6px rgba(202,228,225,0.98),
                0 0 30px rgba(202,228,225,0.42),
                0 0 12px rgba(232, 30, 30,0.58),
                0 0 22px rgba(232, 30, 30,0.84),
                0 0 38px rgba(232, 30, 30,0.88),
                0 0 60px rgba(232, 30, 30,1);
    }
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

form {
    width: 30%;
    min-width: 500px;
    border: 2px solid white;
    padding: 20px;
}

input {
    margin-left: 20px;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    background: none;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    padding: 15px 32px;
}

.button:hover {
    line-height: 1;
    color: #d7ffd2;
    animation: neon_green .08s ease-in-out infinite alternate;
}

#back:hover {
    animation: neon_red .08s ease-in-out infinite alternate;

}