</div>
</section>

<footer>
    <nav>
        <ul>
            <li id="license">@Pirates des Carabed</li>
            <li><ul>
                <li><a href="#">Agenda</a></li>
                <li><a href="#">Défis</a> </li>
                <li><a href="#">Membres</a> </li>
            </ul></li>
            <li><ul>
                <li><a href="#">Sponsors</a> </li>
                <li><a href="#">Espace Photo</a> </li>
                <li><a href="#">Nous contacter</a> </li>
            </ul></li>
            <li id="conditions"><a href="#">Conditions générales d'utilisation</a></li>
        </ul>
    </nav>
</footer>