</div>
</section>

<footer>
    <nav>
        <ul>
            <li id="license"><a href="https://bde.telecom-paris.fr" target="_blank"><img src="images/ic_bde.png" alt="bde" /></a>&ensp;&ensp;<a href="https://www.telecom-paris.fr" target="_blank"><img src="images/telecom_paristech.jpg" width="50px" /></a> &ensp;&ensp;&ensp;@Pirates des Carabed</li>
            <li><ul>
                <li><a href="index.php"><span class="t_acceuil" /></a></li>
                <li><a href="news.php"><span class="t_news" /></a> </li>
                <li><a href="Agenda.php"><span class="t_agenda" /></a> </li>
                <li><a href="defis.php"><span class="t_defis" /></a> </li>
            </ul></li>
            <li><ul>
                <li><a href="Listeux.php"><span class="t_membres" /></a> </li>
                <li><a href="partners.php"><span class="t_sponsors" /></a> </li>
                <li><a href="Galerie.php"><span class="t_photos" /></a> </li>
                <li><a href="contact.php"><span class="t_contact" /></a> </li>
            </ul></li>

            <script>
                for(let link of document.querySelectorAll("footer nav ul li ul li a")) {
                    link.addEventListener("click", () => {
                        link.setAttribute("href",link.getAttribute("href")+"?lang="+lang);
                    });
                }
            </script>
            <li id="conditions"><a href="rgnpd.php"><span class="t_cgu" /></a></li>
        </ul>
    </nav>
</footer>

<script type="text/javascript" src="scripts/languages.js"></script>
