<script>
    const url = document.location.href.substring(0,document.location.href.search(page));
</script>

<header>
    <div id="banner">
        <ul>
            <li><a href="index.php">Acceuil</a></li>
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Défis</a> </li>
            <li><a href="Page_photos/Photos_listeux.html">Membres</a> </li>
            <li><a href="partners.php">Sponsors</a> </li>
            <li><a href="#">Espace Photo</a> </li>
            <li><a href="#">Nous contacter</a> </li>
            <li id="language_selection"><a href="#">▼<img src="flag.png" class="flag"/></a>
                <ul>
                    <li><a id = "lang_fr" href="#">Français</a> </li>
                    <li><a id = "lang_en" href="#">English</a> </li>
                    <script>
                        document.getElementById("lang_fr").addEventListener("click", (e) => {
                            open(url+page,"_self");
                            e.stopPropagation();
                            e.preventDefault();
                        });
                        document.getElementById("lang_en").addEventListener("click", (e) => {
                            open(url+'en/'+page,"_self");
                            e.stopPropagation();
                            e.preventDefault();
                        });
                    </script>
                </ul>
            </li>
        </ul>
    </div>
</header>

<section class="content">
    <div class="show_zone">