@font-face
{
    font-family: "PiecesOfEight";
    src: url("Polices/pieces_of_eight/Pieces\ of\ Eight.ttf");
}

/*
#background_image {
    position: fixed; 
    top: 0; 
    left: 0;
    max-width: 100%;
	height: auto;
}
*/

body {
    background-image: url("Images/Fond_ecran_pirates.jpg");
    background-size: cover;
}

#bloc_titre {
    font-size : xx-large;
    text-align : center;
    font-family: "PiecesOfEight";
    z-index: 5;
}

#photos{
    display: flex;
    margin:auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    border-radius: 1em;
}

.flippingcard {
    position: relative;
    margin: 0.5em;
}

div[class^="card"] {
    height: 300px;
    width: 300px;
    perspective-origin: center bottom;
    position: sticky;
}

div[class^="card"] [class^="face"] {
    height: 100%;
    width: 100%;
    border-radius: 1em;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

div[class^="card"] .face-front {
    background-color: #ED7E10;
    z-index: 5;
}

div[class^="card"] p {
    height: 280px;
    width: 280px;
    font-family: "PiecesOfEight";
    font-size: large;
    overflow: auto;
    margin: 20px;
    margin-right: 20px;
}

div[class^="card"] .face-back {
    background-color: burlywood;
    z-index: 0;
    transform: rotateY(-180deg);
}

div[class^="card"].rotated .face-front {
    z-index: 5;
    transform: rotateY(180deg);
}
div[class^="card"].rotated .face-back {
    z-index: 10;
    transform: rotateY(0deg);
}