@font-face
{
    font-family: "PiecesOfEight";
    src: url("Polices/pieces_of_eight/Pieces\ of\ Eight.ttf");
}

#bloc_titre {
    font-size : xx-large;
    text-align : center;
    font-family: "PiecesOfEight";
}

#photos{
    display: flex;
    margin:auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.flippingcard {
    position: relative;
    margin: 0.5em;
}

div[class^="card"] {
    height: 300px;
    width: 300px;
    perspective-origin: center bottom;
    position: sticky;
}

div[class^="card"] [class^="face"] {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

div[class^="card"] .face-front {
    background-color: #ED7E10;
    z-index: 5;
}

div[class^="card"] .face-back {
    background-color: #D2D0D0;
    z-index: 0;
    transform: rotateY(-180deg);
}

div[class^="card"].rotated .face-front {
    z-index: 5;
    transform: rotateY(180deg);
}
div[class^="card"].rotated .face-back {
    z-index: 10;
    transform: rotateY(0deg);
}