@font-face {
    font-family: 'GreatVibes';
    src: url("fonts/GreatVibes-Regular.ttf");
}

@font-face {
    font-family: 'helvetica';
    src: url('fonts/HelveticaLTStd-BlkCond.otf');
}

html {
    width: 100%;
    font-family: 'helvetica';
    background: url("Images/Babar.png");
    background-size: cover;
    background-attachment: fixed;
}
head title {
    font-family: 'GreatVibes';
    text-align: center;
}

body {
    margin: 0 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 35% 35%;
    grid-template-areas:    "title title title"
                            "panel beers events"
                            "panel bottom bottom";
    grid-gap: 2.5%;
    overflow-x: hidden;

}

#main-title {
    display: flex;
    grid-area: title;
    justify-content: center;
    font-size: xxx-large;
    vertical-align: center;
    flex-direction: row;
}

#main-title h1 {
    margin: 5px;
}

#beers {
    grid-area: beers;
}

#events {
    grid-area: events;
}

.display-box {
    display: grid;
    margin-top: 0;
    margin-bottom: 0;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "title title";
    background: #ffe4e1dd;
    padding: 10px;
    border-radius: 5px;
    border: solid pink 10px;
}

.box-title {
    grid-area: title;
}



.box-title h1 {
    text-align: center;
    font-family: 'GreatVibes';
}

.in-display-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    margin-top: 20px;
}


.title, .descr, .price-date, .image{
    border: black solid 4px;
    margin: 0;
    width: 200px;
    text-align: center;
    font-size: xx-large;
}

.descr {
    font-size: x-large;
}

.price-date {
    border-top: none;
}

.image {
    border: black solid 4px;
    border-bottom: none;
    border-top: none;
}

.title, .price-date {
    width: 200px;
    height: 40px;
    text-align: center;
}

#chat-box {
    grid-area: panel;
    background: #ffe4e1dd;
    padding: 10px;
    border-radius: 5px;
    border: solid pink 10px;
}

#chat-box form {
    display: flex;
    flex-direction: column;
}

#chat-box label, #chat-box .chat, #chat-box .message, #chat-box .name {
    margin: 5px;
    font-size: x-large;
}

#chat-box input {
    margin: 5px;
    max-width: 95%;
}
