<header>
    <div id="banner">
        <ul>
            <li><a href="#">en_Acceuil</a></li>
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Défis</a> </li>
            <li><a href="#">Membres</a> </li>
            <li><a href="#">Sponsors</a> </li>
            <li><a href="#">Espace Photo</a> </li>
            <li><a href="#">Nous contacter</a> </li>
            <li id="language_selection"><a href="#">▼<img src="flag.png" class="flag"/></a>
                <ul>
                    <li><a id = "lang_fr" href="#">Français</a> </li>
                    <li><a id = "lang_en" href="#">English</a> </li>
                    <script>
                        document.getElementById("lang_fr").addEventListener("click", (e) => {
                            open("/website/"+page,"_self");
                            e.stopPropagation();
                            e.preventDefault();
                        });
                        document.getElementById("lang_en").addEventListener("click", (e) => {
                            open("/website/en/"+page,"_self");
                            e.stopPropagation();
                            e.preventDefault();
                        });
                    </script>
                </ul>
            </li>
        </ul>
    </div>
</header>

<section class="content">
    <div class="show_zone">