@font-face
{
    font-family: "Caribbean";
    src: url("../fonts/Caribbean.ttf");
}

h1 {
    margin-left: 5%;
    font-size: 2.5em;
    font-family: Caribbean;
    margin: 100px 0 50px 5%;
}

.flippingcard {
    text-align: center;
}

.card-single {
    cursor: pointer;
}

.face-front {
    position: relative;
}

.skull {
    position: absolute;
    bottom: 5px;
    left: 43%;
    width: 60px;
}

.member-name {
    width: 100%;
    text-align: center;
}

#bureau_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#members_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 10%;
}

@media screen {
    #bloc_titre {
        font-size : xx-large;
        text-align : center;
        font-family: "Caribbean";
        z-index: 5;
    }

    #cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flippingcard {
        position: relative;
        width: 300px;
        margin-right: 4%;
        margin-left: 4%;
    }

}

@media handeld {
    #bloc_titre {
        font-size : large;
        text-align : center;
        font-family: "Caribbean";
        z-index: 5;
    }

    #cards{
        display: flex;
        flex-direction: column;
    }

    .flippingcard {
        position: relative;
        width: 100%;
    }
}



.card-single img {
    border-radius: 1em;
}



div[class^="card"] {
    height: 300px;
    width: 300px;
    perspective-origin: center bottom;
    position: sticky;
}

div[class^="card"] [class^="face"] {
    height: 100%;
    width: 100%;
    border-radius: 1em;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

div[class^="card"] .face-front {
    background-color: #ED7E10;
    z-index: 5;
}

div[class^="card"] p {
    height: 280px;
    width: 280px;
    font-size: large;
    overflow: auto;
    margin: 20px;
    margin-right: 20px;
}

div[class^="card"] .face-back {
    background-color: burlywood;
    z-index: 0;
    transform: rotateY(-180deg);
}

div[class^="card"].rotated .face-front {
    z-index: 5;
    transform: rotateY(180deg);
}
div[class^="card"].rotated .face-back {
    z-index: 10;
    transform: rotateY(0deg);
}