/* FONT */

@font-face {
    font-family: "matura MT Script Capitals";
    src: url("../fonts/MATURASC.TTF");
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-image: url("../images/background.jpg");
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/*  BANNER */

#banner {
    margin-top: 7%;
    padding: 10px 20px;
    margin-bottom: 0.5%;
    background-color: #2E2422;
    display: flex;
    align-items: center;
}
#banner ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
}
#banner li {
    float: left;
    margin: auto;
    margin: 0px 10px;
    padding: 0;
}

#banner li a {
    display: block;
    background-color: #2E2422;
    font-size: 1.5em;
    margin-right: 50px;
    color: #E4DCC7;
    text-decoration: none;
    padding: 5px;
    font-family: 'matura MT Script Capitals', arial;
}

#banner li a:hover {
    background-color: #964534;
    color: navajowhite;
}

#banner ul li ul {
    display: none;
}

#banner ul li:hover ul {
    display: block;
}

#banner li:hover ul li {
    float: none;
}

#banner li ul {
    position: absolute;
}

.flag {
    width: 30%;
}

/* BODY */

section {
    flex: 1;
    margin-bottom: 1%;
}

.content {
    background-color: #9A9E83;
    display: flex;
    justify-content: center;
}

.show_zone {
    background-color: #E4DCC7;
    width: 80%;
}

footer {
    background-color: #2E2422;
}

footer * {
    color: #E4DCC7;
    text-decoration: none;
}

footer nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

footer nav ul ul {
    display: flex;
    flex-direction: column;
}

footer nav ul ul a {
    text-decoration: none;
}

#license {
    margin-right: auto;
    font-family: "matura MT Script Capitals", arial;
}

#conditions {
    margin-left: auto;
}