/* FONT */

@font-face {
    font-family: "matura MT Script Capitals";
    src: url("../fonts/MATURASC.TTF");
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-image: url("../images/background.jpg");
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/*  BANNER */

#banner {
    margin-top: 2%;
    padding: 10px 20px;
    margin-bottom: 0.5%;
    background-color: #2E2422;
    display: flex;
    align-items: center;
}
#banner ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
}
#banner li {
    float: left;
    margin: auto;
    margin: 0px 10px;
    padding: 0;
}

#language_selector {
    margin-left: auto;
}

#banner li a {
    display: block;
    background-color: #2E2422;
    font-size: 1.5em;
    margin-right: 50px;
    color: #E4DCC7;
    text-decoration: none;
    padding: 5px;
    font-family: 'matura MT Script Capitals', arial;
}

#banner li a:hover {
    background-color: #964534;
    color: navajowhite;
}

.dropbtn {
    background-color: #2E2422;
    color: #E4DCC7;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #964534;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown_language {
    cursor: pointer;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #2E2422;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content span {
    color: #E4DCC7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown span:hover {
    background-color: #964534;
    color: navajowhite;
}

.show {
    display: block;
}

.flag, .flag_menu {
    height: 20px;
    width: 30px;
}

/* BODY */

section {
    flex: 1;
    margin-bottom: 1%;
}

.content {
    background-color: #9A9E83;
    display: flex;
    justify-content: center;
}

.show_zone {
    background-color: #E4DCC7;
    width: 80%;
}

footer {
    background-color: #2E2422;
}

footer * {
    color: #E4DCC7;
    text-decoration: none;
}

footer nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

footer nav ul ul {
    display: flex;
    flex-direction: column;
}

footer nav ul ul li {
    margin: 2px 3px;
}

footer nav ul ul a {
    text-decoration: none;
}

footer nav ul ul a:hover {
    border-bottom: 1px solid #E4DCC7;
}
#license {
    margin-right: auto;
    font-family: "matura MT Script Capitals", arial;
}

#conditions {
    margin-left: auto;
}